---
import type { Post } from "../../types/posts";
interface Props {
  frontmatter: Post;
}
const { frontmatter } = Astro.props;
---

<a
  href={`/en/post/${frontmatter.fileName}`}
  class="group flex flex-col gap-6 items-center rounded-md w-[280px] lg:w-[300px] py-6 lg:py-10 mt-3 border-2 hover:border-sky-600"
  aria-label=`Goes to ${frontmatter.title} post`
>
  <img
    src={frontmatter.image.url}
    alt={frontmatter.image.alt}
    class="w-16 h-16"
  />
  <span class="text-center font-semibold mx-2">{frontmatter.title}</span>
</a>
