---
import Layout from "../../../layouts/Layout.astro";
import { GetTags } from "../../../utils/tags";
import TagList from "../../../components/tags/TagList.astro";
import PostList from "../../../components/posts/PostList.astro";
import { getSortedBlogPosts } from "../../../utils/contentCollections";
export async function getStaticPaths() {
  const posts = await getSortedBlogPosts();

  // Get non-duplicate tags
  const tags = [...new Set(posts.flatMap((post) => post.data.tags))];

  const paths = tags.map((tag) => ({ params: { tag: tag } }));
  return paths;
}

const posts = await getSortedBlogPosts();
const spanishPosts = posts.filter((post) => post.id.includes("es"));


const formattedPosts = spanishPosts.map((post) => post.data);

// Get tags and remove duplicates
const tags = [...new Set(formattedPosts.map((post) => post.tags).flat())];

const { tag } = Astro.params;

// filter posts by tag
const filteredPosts = formattedPosts.filter((post) => post.tags.includes(tag!));

const tagObj = GetTags([tag!]);
const title = tagObj[0].name;
const description = `Explore articles on Dario Nalerio's blog related to the topic of ${tag}. Browse through a list of posts filtered by this tag and discover more content on software development and technology.`;
---

<Layout title={`${title} Articles`} description={description}>
  <div class="flex flex-col md:flex-row mt-10">
    <PostList posts={filteredPosts} tagTitle={title} />
    <TagList tagList={tags} />
  </div>
</Layout>
