---
import LatestPosts from "../../components/posts/LatestPosts.astro";
import Layout from "../../layouts/Layout.astro";
import TagList from "../../components/tags/TagList.astro";
const title = "Dario Nalerio's Blog";

export async function getStaticPaths({ paginate }: any) {
  const posts = await Astro.glob("./post/*.md");
  const formattedPosts = posts.map((post) => post.frontmatter);

  // Sort the posts by pubDate in descending order (newest first)
  formattedPosts.sort(
    (a, b) => new Date(b.pubDate).getTime() - new Date(a.pubDate).getTime()
  );
  return paginate(formattedPosts, { pageSize: 3 });
}

const posts = await Astro.glob("./post/*.md");
const formattedPosts = posts.map((post) => post.frontmatter);
// Sort the posts by pubDate in descending order (newest first)

// Get tags and remove duplicates
const tagList = [...new Set(formattedPosts.map((post) => post.tags).flat())];

const { page } = Astro.props;
---

<Layout title={title}>
  <div class="flex flex-col md:flex-row mt-10">
    <LatestPosts
      posts={page.data}
      nextPage={page.url.next}
      prevPage={page.url.prev}
    />

    <TagList tagList={tagList} />
  </div>
</Layout>
