---
import LatestPosts from "../../components/posts/LatestPosts.astro";
import Layout from "../../layouts/Layout.astro";
import TagList from "../../components/tags/TagList.astro";
const title = "Dario Nalerio's Blog";
import { getSortedBlogPosts } from "../../utils/contentCollections";
import { getLangFromUrl } from "../../i18n/utils";
const description =
  "Explore Dario Nalerio's blog, where he shares his thoughts on software development and technology. Discover the latest posts and browse by tags to find articles that interest you.";

export async function getStaticPaths({ paginate }: any) {
  const posts = await getSortedBlogPosts();
  const spanishPosts = posts.filter((post) => post.id.includes("es"));
  const postsMetadata = spanishPosts.map((post) => post.data);

  return paginate(postsMetadata, { pageSize: 3 });
}
const lang = getLangFromUrl(Astro.url);
const posts = await getSortedBlogPosts(lang);

const postsMetadata = posts.map((post) => post.data);

// Get tags and remove duplicates
const tagList = [...new Set(postsMetadata.map((post) => post.tags).flat())];

const { page } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="flex flex-col md:flex-row mt-10">
    <LatestPosts
      posts={page.data}
      nextPage={page.url.next}
      prevPage={page.url.prev}
    />

    <TagList tagList={tagList} />
  </div>
</Layout>
