---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "@fontsource-variable/montserrat";
import '@fontsource/orelega-one';
import {ViewTransitions} from "astro:transitions";
import { getLangFromUrl } from '../i18n/utils';


interface Props {
  title: string;
  description: string;
}

const lang = getLangFromUrl(Astro.url);
const { title, description } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description}>
    <ViewTransitions />
  </head>
  <body class="bg-gradient-to-l from-[#20252C] to-[#20252D] text-slate-200">
    <div class="flex flex-col min-h-screen">
      <Navigation />
      <main class="mx-10 md:mx-20 xl:mx-52 2xl:mx-80 flex-1">
        <slot />
        <!-- children content -->
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  /* Hide the default scrollbar */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #20252c;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 0.25rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }
</style>